<!DOCTYPE html>
<html>
<Head>
    <link rel="stylesheet" href="/portfolio/css/styles.css">
    <title>Dokasfam Code</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</Head>
<body>
    <h1>Thomas Dokas Code Portfolio</h1>
    <p>This is a static templated site to showcase some projects that I've worked on.</p>
    <p>My projects from EECS courses are not permitted to be shared publicly, but can be shared upon request!</p>
    <div class="wrapper">
        {% for project in projects %}
            <div class="project">
                <h2><a href="{{project['link']}}">{{project['name']}}</a></h2>
                <p>{{project['desc']}}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>